# Environnement
venv/
.env
__pycache__/
*.pyc

# Django
staticfiles/
media/
*.log

# Sauvegardes
backups/*.sql
backups/*.dump
backups/*.json
data_backup.json
*.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
